<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705545229513-3lh7vshlq1hb4tr8r1qfs7qk37lgoded.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705545229513-3lh7vshlq1hb4tr8r1qfs7qk37lgoded</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705545229513-i5koeqr8kf64k439hffhv4mifj6cfmeu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMLrm7dfEOUXIYgYnmqaDlNJgc5Fpx6ao</string>
	<key>GCM_SENDER_ID</key>
	<string>705545229513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fourezonecustomerhealth</string>
	<key>PROJECT_ID</key>
	<string>ezone-b6168</string>
	<key>STORAGE_BUCKET</key>
	<string>ezone-b6168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705545229513:ios:d7db870373ca74650be918</string>
	<key>DATABASE_URL</key>
	<string>https://ezone-b6168.firebaseio.com</string>
</dict>
</plist>